<footer id="footer">
    <form class="form-callback" action="">
        <h1 id="title-form">דברו איתנו...</h1>
        <div>
            <label for="name"></label>
            <input type="text" name="name" id="name" placeholder="שם מלא">
        </div>
        <div>
            <label for="phone"></label>
            <input type="number" name="phone" id="phone" placeholder="מספר פלאפון">
        </div>
        <div>
            <label for="email"></label>
            <input type="email" name="email" id="email" placeholder="כתובת המייל">
        </div>
        <input class="btn-form" type="submit" value="Send" id="submit">
    </form>
    <div id="info-dev">
        <p dir="ltr">Written by Nehorai Hadad</p>
    </div>
</footer>