<nav id="nav">
    <ul id="flex-nav-container">
        <li> <a href="/">בית</a></li>
        <li id="category-list-btn"><a tabindex="0" href="#">קטגוריות</a>
            <ul class="category-list" >
                <% category.forEach(row => { %>
                    <li><a class="category-links" href="/category/<%= row.slice(1,-1) %> "> <%= row.slice(1,-1) %>  </a></li>
                <% }) %>
            </ul>
        </li>
        <li><a href="/sale ">במבצע!</a></li>
        <li><a href="#">עלינו</a></li>
    </ul>
    <div class="left-nav">
        <form action="" method="POST" novalidate>
            <input class="search-bar" type="search" name="search" placeholder="חיפוש...">
        </form>
        <a href="/users/login" id="user-profile"><i class="fa-solid fa-circle-user"></i>
            <div id="user-profile-name">
                שלום <%= name %> 
            </div> 
        </a>
        <a href="/users/logOut"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
</nav>