<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\managementStyleSheet\management_form.css">
    <script src="/javascripts/management.js" async></script>
    <script src="https://kit.fontawesome.com/ed3b3b4124.js" crossorigin="anonymous" async></script>
    <title>add user </title>
</head>
<body>

<%- include ('./partials/header') %>   
<%- include('./partials/navbar_management') %> 

  <main>
    <div class="main-header"> 
        <div class="main-title"> משתמש חדש </div>
    </div>
    <% if (alert) { %>
        <div style="padding: 3px; font-size: 15rem; font-style: italic; background: rgb(57, 226, 57);"><%= alert %> </div>
    <% } %>

    <form action="" method="post">
        <div class="form">

            <label for="floatingInput">שם פרטי</label>
            <input type="text"  placeholder="שם פרטי" name="first_name">
            
            <label for="floatingInput">שם משפחה</label>
            <input type="text"  placeholder="שם משפחה" name="last_name">
            
            <label for="floatingInput">מייל</label>
            <input type="email" placeholder="email@email.com" name="email">
            
            <label for="floatingInput">פלאפון</label>
            <input type="text" placeholder="פלאפון" name="phone">
            
            <label for="password">password (123456789)</label>
            <input type="password" value="123456789" name="password" id="password" placeholder="סיסמה">
            <div>מוגדר אוטומטית כלקוח רגיל (לא מנהל) ופעיל. לשינוי יש לעבור לעריכת המשתמש</div>

            <button type="submit">אישור</button>
            
        </div>
</form>
</main>

  <footer>
      <div id="info-dev">
          <p dir="ltr">Written by Nehorai Hadad</p>
        </div>
    </footer>
    
</body>
</html>