:root {
  --primary-color: rgb(254, 250, 224);
  --secondary-color: rgb(250, 237, 205);
  --hover-color: rgb(212, 163, 115);
  --primary-green-color: rgb(204, 213, 174);
  --secondary-green-color: rgb(233, 237, 201);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* :focus {
  outline: none;
}

html {
  font-size: 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.hide {
  display: none !important;
}

header {
  background: var(--secondary-green-color);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #name-title {
  font-size: 60rem;
}

nav {
  background: var(--primary-green-color);
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav #flex-nav-container {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
}
nav #flex-nav-container li {
  height: 100%;
}
nav #flex-nav-container li a {
  display: block;
  height: 100%;
  padding: 10px 15px;
  font-size: 20rem;
  text-decoration: none;
  color: black;
}
nav #flex-nav-container li a:hover {
  background: var(--hover-color);
}
nav .left-nav {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}
nav .left-nav .search-bar {
  height: 30px;
  margin: 5px;
  padding: 10px;
}
nav .left-nav a {
  text-decoration: none;
}
nav .left-nav a i {
  font-size: 28rem;
  color: var(--hover-color);
  padding: 5px;
}
nav .left-nav #user-profile-name {
  display: none;
}
nav .left-nav #user-profile:hover #user-profile-name {
  font-size: 20rem;
  position: absolute;
  left: 50px;
  display: block;
}

.category-list {
  display: none;
}

#category-list-btn:hover .category-list {
  display: block;
  background-color: var(--primary-green-color);
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
#category-list-btn:hover .category-list li a {
  display: block;
  text-align: center;
  height: 100%;
  padding: 10px;
  font-size: 20rem;
  text-decoration: none;
  color: black;
}
#category-list-btn:hover .category-list li a:hover {
  background: var(--hover-color);
}

main {
  height: calc(100vh - 135px);
  position: relative;
  width: 100%;
}
main .main-header {
  display: flex;
  align-content: center;
  height: 40px;
  padding: 5px;
  font-size: 25rem;
}
main .main-header .main-title {
  justify-self: center;
}
main .main-header a {
  background-color: var(--secondary-color);
  justify-self: start;
  text-decoration: none;
  list-style: none;
}
main .split {
  position: absolute;
  width: 50%;
  height: calc(100vh - 175px);
  overflow: hidden;
}
main .split.left-main {
  left: 0;
  background-color: var(--primary-color);
}
main .split.right-main {
  right: 0;
  background: var(--secondary-color);
  overflow-y: auto;
}
main .split.right-main::-webkit-scrollbar {
  width: 0;
}
main .split.left-main, main .split.right-main, main .split.left-main:before, main .split.right-main:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left-main {
  width: var(--hover-width);
}

.hover-left .right-main {
  width: var(--other-width);
}

.hover-right .right-main {
  width: var(--hover-width);
}

.hover-right .left-main {
  width: var(--other-width);
}

.right-main {
  padding: 20px;
}
.right-main table {
  border-collapse: collapse;
  font-size: 20rem;
  width: 100%;
}
.right-main table th {
  background: var(--hover-color);
}
.right-main table td, .right-main table th {
  border: 1px solid var(--primary-color);
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right-main table td .btn-user-table:hover, .right-main table th .btn-user-table:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all ease-in-out 0.3s;
}
.right-main table tr:nth-child(even) {
  background-color: var(--primary-color);
}
.right-main table tr:hover {
  background-color: var(--hover-color);
}

.action-tb-user-table {
  display: flex;
  text-align: center;
  justify-content: flex-end;
}
.action-tb-user-table .btn-user-table {
  text-decoration: none;
  color: black;
  background-color: var(--primary-color);
  border: 1px solid var(--hover-color);
  margin: 0px 3px;
  padding: 0px 3px;
}

footer {
  height: 50px;
  background: var(--secondary-green-color);
  display: flex;
  justify-content: end;
  align-items: end;
}
footer #info-dev {
  font-size: 10rem;
}/*# sourceMappingURL=management.css.map */