:root {
  --primary-color: rgb(254, 250, 224);
  --secondary-color: rgb(250, 237, 205);
  --hover-color: rgb(212, 163, 115);
  --primary-green-color: rgb(204, 213, 174);
  --secondary-green-color: rgb(233, 237, 201);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

header {
  background: var(--secondary-green-color);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #name-title {
  font-size: 60rem;
}

nav {
  background: var(--primary-green-color);
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav #flex-nav-container {
  display: flex;
  list-style: none;
  align-items: center;
  height: 100%;
}
nav #flex-nav-container li {
  height: 100%;
}
nav #flex-nav-container li a {
  display: block;
  height: 100%;
  padding: 10px 15px;
  font-size: 20rem;
  text-decoration: none;
  color: black;
}
nav #flex-nav-container li a:hover {
  background: var(--hover-color);
}
nav .left-nav {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}
nav .left-nav .search-bar {
  height: 30px;
  margin: 5px;
  padding: 10px;
}
nav .left-nav a {
  text-decoration: none;
}
nav .left-nav a i {
  font-size: 28rem;
  color: var(--hover-color);
  padding: 5px;
}
nav .left-nav #user-profile-name {
  display: none;
}
nav .left-nav #user-profile:hover #user-profile-name {
  background: var(--hover-color);
  padding: 5px;
  font-size: 20rem;
  position: absolute;
  left: 50px;
  display: block;
  color: black;
}

.category-list {
  display: none;
}

#category-list-btn:hover .category-list {
  display: block;
  background-color: var(--primary-green-color);
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
#category-list-btn:hover .category-list li a {
  display: block;
  text-align: center;
  height: 100%;
  padding: 10px;
  font-size: 20rem;
  text-decoration: none;
  color: black;
}
#category-list-btn:hover .category-list li a:hover {
  background: var(--hover-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* :focus {
  outline: none;
}

html {
  font-size: 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.hide {
  display: none !important;
}

main {
  height: calc(100vh - 135px);
  font-size: 10rem;
}
main .main-title {
  text-align: center;
  height: 40px;
  padding: 5px;
  font-size: 25rem;
}
main .form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200rem;
}
main .form input {
  padding: 5px;
  height: 25px;
  width: 100%;
}
main .form button {
  margin-top: 7px;
  height: 25px;
}
main img {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 80rem;
  top: 250rem;
}

footer {
  height: 50px;
  background: var(--secondary-green-color);
  display: flex;
  justify-content: end;
  align-items: end;
}
footer #info-dev {
  font-size: 10rem;
}/*# sourceMappingURL=management_form.css.map */