:root{
    --primary-color: rgb(254, 250, 224);
    --secondary-color: rgb(250, 237, 205);
    --hover-color: rgb(212, 163, 115);
    --primary-green-color: rgb(204, 213, 174);
    --secondary-green-color: rgb(233, 237, 201);

    // main managemrnt
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}
