

#header{
    background: var(--primary-color);
    grid-area: header;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
        #name-title{
            font-size: 60rem;
        }
}